%body
  #in-splash-container
    .in-splash
      .in-splash-content
        .in-splash-left
          %h1 The payments processor for the rest of the world.
          %ul
            %li Developer Friendly.
            %li Available outside the U.S.
            %li Forget about PayPal.
            %li Focus on your core product, not on the payments.
        %span.in-splash-right
          = image_tag "in-splash.jpg", :height => "283", :width => "460"
        %span.in-splash-buttons
          %span.splash-button= link_to "Sign Up", "#sign-up"
          %span.splash-link= link_to "Learn More", "#learn-more"
  #ge-header-container
    .ge-header
      .ge-logo
        = image_tag "ge-logo.png"
  #in-benefits-container
    %a{:name => "learn-more"}
    .in-benefits
      %ul
        %li
          .benefits-text
            %h2 Developer Friendly
            %p We are developers. We know where it hurts. We're making your life easier.
        %li
          .benefits-text
            %h2 Outside the U.S.
            %p Are you in the U.K.? Australia? Brazil? We got you covered.
        %li.end
          .benefits-text
            %h2 Focus on Your Product
            %p Forget about spending days integrating with your payments provider. You'll be done in two hours.

        %li
          .benefits-text
            %h2 Awesome Rates
            %p Our rates are competitive, we're not trying to gouge you just because you live outside North America.
        %li
          .benefits-text
            %h2 No Merchant Account Required
            %p Got a regular bank account and a personal ID? That's all you need to get your payments.
        %li.end
          .benefits-text
            %h2 Global Business
            %p Accept credit cards from anywhere, without restrictions or hidden fees.
      .clear
  #in-quote-container
    %a{:name => "sign-up"}
    .in-quote
      .quote
        .quote-text
          %h2 Sign Up
          %p We are currently in private beta. You can request an invitation by filling this form.

          %p
            You can also contact us at:

            %strong Twitter:
            = link_to "@jademerchant", "http://twitter.com/jademerchant"
            %br
            %strong Email:
            = link_to "hello@jademerchant.com", "mailto:hello@jademerchant.com"
            %br
            %strong Skype:
            = link_to "jademerchant", "skype:jademerchant"
            %br
            %strong Phone:
            %br
            +1 (415) 800-3673 (USA)
            %br
            +57 (311) 605-5811 (Colombia)

        .quote-form
          %form#in-quote-form{:action => "http://jademerchant.us2.list-manage.com/subscribe/post?u=e341f5d600f732a2b41a3a9b2&id=da978fb54b", :method => "post", :name => "mc-embedded-subscribe-form", target: "_blank"}
            %fieldset
              %label{:for => "FNAME"}
                Your Name/Company Name
              %input#fullname{:name => "FNAME", :type => "text"}
              %label{:for => "URL"}
                Website
              %input#fullname{:name => "URL", :type => "text"}
              %label{:for => "EMAIL"}
                Email
                %span *
              %input#emailaddress{:name => "EMAIL", :type => "text"}
              %button{type: "submit", value: "Subscribe", name: "subscribe"} Send

  #ge-footer-container
    .ge-footer
      .ge-copyright
        %ul.copyright
          %li.copyrightstart © 2011 JadeMerchant. All rights reserved
          %li
            = link_to "Contact Us", "mailto:hello@jademerchant.com"
        %ul.socialmedia
          %li= link_to image_tag("social/icon-twitter.png"), "http://twitter.com/jademerchant"
          %li= link_to image_tag("social/icon-skype.png"), "skype:febuiles"
  :javascript
    Cufon.now();